$bg-color: #121212;
$text-color: #ffffff;
$text-black-color: #121212;
$medium-black: #212121;
$light-black: #323030;
$pale-green: #7cf6ad;
$vivid-green: #bcf489;
$vivid-blue: #15d2e9;
$green-gradient: linear-gradient(to top right, #15d2e9, #7cf6ad, #bcf489);

$offset-mob: 15px;
$offset-desktop: 30px;

$border-radius: 30px;
$button-padding: 10px;

$media-mob: "540px";
$media-tab: "768px";
$media-tab-pt: "1024px";
$media-desk: "1200px";
